name: Docs

on:
  push:
    branches: [ main ]
  pull_request:

defaults:
  run:
    shell: bash -l -eo pipefail {0}

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    steps:
      - name: Check out repo
        uses: actions/checkout@v3
      - name: Setup conda env
        uses: conda-incubator/setup-miniconda@v2
        with:
          auto-update-conda: true
          miniconda-version: "latest"
          activate-environment: test
          python-version: '3.12'
      - name: Update pip
        run: python -m pip install --upgrade pip
      - name: Install dependencies and FFmpeg
        run: |
          python -m pip install --pre torch --index-url https://download.pytorch.org/whl/nightly/cpu
          conda install "ffmpeg=7.0.1" -c conda-forge
          ffmpeg -version
      - name: Build and install torchcodec
        run: |
          python -m pip install -e ".[dev]" --no-build-isolation -vvv
      - name: Install doc dependencies
        run: |
          cd docs
          python -m pip install -r requirements.txt
      - name: Build docs
        run: |
          cd docs
          make html
      - uses: actions/upload-artifact@v3
        with:
          name: Built-Docs
          path: docs/build/html/
